.header {
    z-index: 100;
    height: 8vh;
    padding: 0 30px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    justify-content: space-between;
}

.s-email {
    font-family: 'Share Tech Mono', monospace;
    color: var(--white);
    font-size: 18px;
}

.s-icons {
    font-size: 20px;
    color: var(--white);
}