.project-cont {
    position: relative;
    margin: 0 auto;
    background-color: var(--dark);
    height: max-content;
    max-width: 1280px;
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
}

.projects {
    align-self: end;
    height: 1000px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
}

.scroll-area {
    scroll-snap-align: start;
}

.project-heading {
    font-size: 40px;
    align-self: start;
}